<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMVMCreate" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
                <binding name="BasicHttpBinding_IMVMCreate1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IMVMCreate2" />
                <binding name="BasicHttpBinding_IMVMCreate3">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IMVMCreate4" />
                <binding name="BasicHttpBinding_IMVMCreate5" />
                <binding name="BasicHttpBinding_IMVMCreate6">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IMVMCreate7">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IMvmSoapService_soap" />
                <binding name="BasicHttpBinding_IMvmSoapService_soap1" />
                <binding name="BasicHttpBinding_IMvmSoapService_soap2" />
                <binding name="BasicHttpBinding_IMvmSoapService_soap3">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IMvmSoapService_soap4" />
                <binding name="BasicHttpBinding_IMvmSoapService_soap5" />
                <binding name="BasicHttpBinding_IMvmSoapService_soap6">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IMvmSoapService_soap7" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8140/ae/servicos/MVMCreate.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMVMCreate"
                contract="MVMCreate.IMVMCreate" name="BasicHttpBinding_IMVMCreate" />
            <endpoint address="https://elogh.fiat.com.br/ae/servicos/MVMCreate.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMVMCreate1"
                contract="MVMCreate1.IMVMCreate" name="BasicHttpBinding_IMVMCreate1" />
            <endpoint address="https://elog.fiat.com.br/ae/servicos/MVMCreate.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMVMCreate3"
                contract="MVMCreate2.IMVMCreate" name="BasicHttpBinding_IMVMCreate2" />
            <endpoint address="http://elogh.fiat.com.br/ae/servicos/MVMCreate.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMVMCreate5"
                contract="MVMServiceH.IMVMCreate" name="BasicHttpBinding_IMVMCreate3" />
            <endpoint address="https://int1-elog.fiat.com.br/ae/servicos/MVMCreate.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMVMCreate6"
                contract="Int1.IMVMCreate" name="BasicHttpBinding_IMVMCreate4" />
            <endpoint address="https://int2-elog.fiat.com.br/ae/servicos/MVMCreate.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMVMCreate7"
                contract="Int2.IMVMCreate" name="BasicHttpBinding_IMVMCreate5" />
            <endpoint address="http://localhost:8080/MvmService.asmx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMvmSoapService_soap"
                contract="MvmTeste.IMvmSoapService" name="BasicHttpBinding_IMvmSoapService_soap" />
            <endpoint address="http://ae-devmvm-api.digital-nonprod.fcalatam.com.br/MvmService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMvmSoapService_soap1"
                contract="MvmServiceAws.IMvmSoapService" name="BasicHttpBinding_IMvmSoapService_soap1" />
            <endpoint address="http://ae-devmvm-api.digital-nonprod.fcalatam.com.br/MvmService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMvmSoapService_soap2"
                contract="teste.IMvmSoapService" name="BasicHttpBinding_IMvmSoapService_soap2" />
            <endpoint address="https://localhost:5001/MvmService.asmx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMvmSoapService_soap3"
                contract="ServiceReference1.IMvmSoapService" name="BasicHttpBinding_IMvmSoapService_soap3" />
            <endpoint address="https://ae-devmvm-api.digital-nonprod.fcalatam.com.br/MvmService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMvmSoapService_soap5"
                contract="Teste123.IMvmSoapService" name="BasicHttpBinding_IMvmSoapService_soap4" />
            <endpoint address="https://ae-devmvm-api.digital-nonprod.fcalatam.com.br/MvmService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMvmSoapService_soap6"
                contract="ServiceReference2.IMvmSoapService" name="BasicHttpBinding_IMvmSoapService_soap5" />
        </client>
    </system.serviceModel>
</configuration>